$page-w:150px;
$page-h:150px;
$page-w2:600px;
$page-h2:500px;

$page-background:white;
$page-header-height:50px;
$page-header-bg:white;

$color-red:#ef476f;
$color-yellow:#ffd166;
$color-green:#06d6a0;
.all-hide{
  overflow:hidden;
}
.app-page{
  transition:all .3s ease-out;
  border-radius:0 0 10px 10px;
  height:$page-h;
  width:$page-w;
  overflow:hidden;
  &.next{
    height:$page-h2;
    width:$page-w2;
  }
}
.app-page-content{
  background:$page-background;
  overflow:hidden;
}
.app-page-main{
  position:absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
}
.app-header{
  position:relative;
  height:$page-header-height;
  background:$page-header-bg;
  display:flex;
  align-items:center;
  -webkit-app-region:drag;
  .app-header-left{
    position:absolute;
    height:100%;
    top:0;
    left:1rem;
    display:flex;
    align-items: center;
  }
}
.app-header-holder{
  height:$page-header-height;
}
.app-header-plan{
  display:flex;
  &:hover{
    i{
      display:block !important;
    }
  }
}
.app-header-icon{
  height:20px;
  width:20px;
  border-radius:50%;
  margin:5px;
  &:hover{
    box-shadow:0 2px 6px rgba(black,.3);
  }
  i{
    display:none;
    color:black;
    font-size:12px;
  }
}
.app-header-close{
  @extend .app-header-icon;
  background:$color-red;
}
.app-header-min{
  @extend  .app-header-icon;
  background:$color-yellow;
}
.app-header-max{
  @extend .app-header-icon;
  background:$color-green;
}